body{
  background-color: #29262A;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media all
  and (min-width: 350px)
  and (max-width: 600px)
  and (-webkit-min-device-pixel-ratio: 1)
{

  nav{
    position: absolute;
    height: 450px;
    top:50px;
    left:0px;
    width: 100%;
    text-align: center;
    background-color:#0B6B7A;
    z-index: -1;
    opacity: .5;
  }
  #eyeConContainerOne{
    position: absolute;
    height: 80px;
    width: 100%;
    top: 430px;
    z-index: 3;
    left: 0px;
    background-color:#0B6B7A;
  }
  @keyframes bubble {
    0% {bottom:-400px;transform:scale(1);opacity:0}
    1% {bottom:-400px;transform:scale(1);opacity:1}
    100% {bottom:20px;transform:scale(.3);opacity:0}
  }
  .bubble {
    width:25px;
    height:25px;
    position:relative;
    margin-left: 200px;
    float: left;
    bottom:-500px;
    border-radius:100px;
    border: 2px solid white;
    background-color:#33DADC;
    animation: bubble 6s infinite ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes bubble2 {
    0% {bottom:-380px;transform:scale(1);opacity:0}
    1% {bottom:-380px;transform:scale(1);opacity:1}
    30% {bottom:-380px;transform:scale(1);opacity:1}
    100% {bottom:30px;transform:scale(.3);opacity:0}
  }
  .bubble2 {
    width:20px;
    height:20px;
    position:relative;
    left: -100px;
    margin-left: 200px;
    float: left;
    bottom:-380px;
    border-radius:100px;
    background-color:white;
    animation: bubble2 6s infinite ease-in-out;
    animation-fill-mode: forwards;
  }
  footer{
    position: fixed;
    height: 50px;
    bottom:0px;
    left:0px;
    width: 100%;
    text-align: center;
    background-color:#0B6B7A;
    z-index: 2;
    opacity: .5;
  }
  .project{
    position: absolute;
    left: 40%;
    top: 0px;
    /*transform: scale(.8);*/
  }
  .projectEye{
    background-image: url("eyeCon.png");
    position: relative;
    top: 0px;
    height: 100px;
    width: 100px;
  }
  .projectEye:hover{
    background-image: url("eyeCon_close.png");
  }
  .contact{
    position: absolute;
    left: 80%;
    top: 0px;
    transform: scale(.8);
  }
  .projectEye2{
    background-image: url("eyeCon2.png");
    position: relative;
    top: 0px;
    height: 100px;
    width: 100px;
  }
  .projectEye2:hover{
    background-image: url("eyeCon2_close.png");
    transform: rotate(180deg);
  }
  .home{
    position: absolute;
      left: 2%;
      top: 0px;
      transform: scale(.8);
  }
  .projectEye3{
    background-image: url("eyeCon3.png");
    position: relative;
    top: 0px;
    height: 100px;
    width: 100px;
  }
  .projectEye3:hover{
    background-image: url("eyeCon3_close.png");
    transform: rotate(180deg);
  }
  #backgroundImage{
    position: relative;
    left: -80px;
    transform: scale(.8);
    /*background-image: url("homeImg.png");*/
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .3;
    top: -16px;
    height: 580px;
    width: 700px;
  }
  #welcome{
    color: white;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: -50px;
    left: 150px;
    z-index: -2;
    animation: float 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes float{
    0%{
      transform: translateY(50px)translateX(30px)
      rotate(3deg) ;
      opacity: 0;
    }
    20%{
      transform: translateY(90px) translateX(-30px) rotate(10deg) ;
      opacity: .2;
    }
    50%{
      transform: rotate(-20deg)translateX(30px) translateY(150px);
      opacity: .5;
    }
    80%{
      transform: rotate(10deg)translateX(-30px) translateY(290px);
      opacity: .8;
    }
    100%{
      transform: translateX(30px) translateY(290px)
      rotate(-10deg);
      opacity: .9;
    }
  }
  #intro{
    color: white;
    font-family: 'Bubbler One', sans-serif;
    font-size: 25px;
    width: 70%;
    height: 200px;
    position: absolute;
    padding: 30px;
    top: 470px;
    left: 10%;
    z-index: 2;
    border-radius: 30px;
    background-color:rgba(24, 150, 87, .7);
  }
  #tents{
    position: absolute;
    background-image:url("tents.png");
    top: 55px;
    left: -170px;
    background-position: top left no-repeat;
    height:525px;
    width:915px;
    z-index: -2;
    transform: scale(.7);
    animation: touchy 2s steps(4) infinite;
  }
  @keyframes touchy{
    from{ background-position: 0 0;}
    to{ background-position: -3676px 0;}
  }
  /*Contact/About*/
  #resume{
    position: relative;
    top: 800px;
    color: white;
  }
  #bio {
    position: relative;
    left:50px;
    height: 500px;
    width: 80%;
    /*top: 900px;*/
    bottom: -700px;
    background-color:rgba(24, 150, 87, .7);
    border-radius: 30px;
  }
  #blurb1{
    font-family: 'Bubbler One', sans-serif;
    position: relative;
    padding:10px;
    color: white;
    width: 80%;
    height: 200px;
    left: 30px;
    font-size: 20px;
    top:20px;

  }
  #blurb2{
    font-family: 'Bubbler One', sans-serif;
    position: relative;
    padding:10px;
    color: white;
    width: 80%;
    height: 200px;
    left: 30px;
    font-size: 20px;
  }
  #linkedIn{
    background-color:blue;
    border-radius: 100px;
    position: relative;
    top: 650px;
    left: -30px;
  }
  #gitHub{
    background-color:blue;
    border-radius: 100px;
    position: relative;
    top: 650px;
    left: 200px;
  }
  #email{
    background-color:blue;
    border-radius: 100px;
    position: relative;
    top: 650px;
    left: 260px;
  }
  #aboutContact{
    position: relative;
    height: 80px;
    width: 100%;
    top: 500px;
    z-index: 3;
    left: 0px;
    background-color:#0B6B7A;
  }
  /*Projects*/
  #myProjects{
    position: relative;
    height: 80px;
    width: 100%;
    top: 350px;
    z-index: 3;
    left: 0px;
    background-color:#0B6B7A;
  }
  .projects{
      background-color:rgba(0,135,96,.8);
      position: relative;
      top: 450px;
      left:-60px;
      border-radius:30px;
      height: 500px;
      width: 90%;
      margin: 80px;
  }
  .details{
    position: relative;
    top: 300px;
    left: 40px;
    height: 160px;
    width: 80%;
    color: white;
    font-family: 'Bubbler One', sans-serif;
    font-size:18px;
    background-color:#0B6B7A;
    padding: 10px;
    border-radius: 20px;
  }
  #nanny{
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 511px;
    top: 35px;
    left:-5px;
    overflow: none;
    display: none;
    transform: scale(.8);
  }
  #herokuNanny{
    position: absolute;
    z-index: 3;
    text-decoration: none;
    font-family: 'Bubbler One', sans-serif;
    color: white;
    top: 10px;
    left:50px;
  }
  #githubNanny{
    position: absolute;
    z-index: 3;
    left: 50px;
    text-decoration: none;
    font-family: 'Bubbler One', sans-serif;
    color: white;
    top: 30px;
  }
  #nannyGif{
    position:absolute;
    top: 40px;
    cursor:pointer;
    height: auto;
    width: 511px;
    left: -5px;
    transform: scale(.8);
  }
  #clickDemoNanny{
    pointer-events: none;
    top: 60px;
    position: absolute;
    color: white;
    font-family: 'Bubbler One', sans-serif;
    font-size: 25px;
    text-align: center;
    z-index: 3;
    padding-top: 30px;
    height:150px;
    width: 511px;
    left: -5px;
    background-color: rgba(250,250,255, .4);
    display: none;
    transform: scale(.8);
  }

  #pocketGif{
    position:absolute;
    top: 30px;
    cursor:pointer;
    height: auto;
    width: 511px;
    left: -5px;
    transform: scale(.8);
  }
  #pocket{
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    right:0px;
    height: auto;
    width: 511px;
    top: 30px;
    left:-5px;
    background-size: cover;
    overflow: none;
    display: none;
    transform: scale(.8);
  }
  #herokuPocket{
    position: absolute;
    z-index: 3;
    text-decoration: none;
    font-family: 'Bubbler One', sans-serif;
    color: white;
    top: 10px;
    left: 50px;
  }
  #githubPocket{
    position: absolute;
    z-index: 3;
    text-decoration: none;
    font-family: 'Bubbler One', sans-serif;
    color: white;
    left: 50px;
    top: 30px;
  }
  #clickDemoPocket{
    pointer-events: none;
    top: 50px;
    left: -5px;
    position: absolute;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-family: 'Bubbler One', sans-serif;
    text-align: center;
    z-index: 3;
    padding-top: 30px;
    height:150px;
    width: 511px;
    background-color: rgba(250,250,255, .4);
    display: none;
    transform:scale(.8);
  }
}

@media all
  and (min-width: 601px)
  and (max-width: 900px)
  and (-webkit-min-device-pixel-ratio: 1) {
  nav{
    position: fixed;
    height: 100%;
    top:0px;
    left:0px;
    width: 50px;
    text-align: center;
    background-color: black;
    z-index: 5;
  }
  #project{
    position: absolute;
    left: 10px;
    top: 100px;
  }
  #projectEye{
    background-image: url("eyeCon.png");
    position: relative;
    top: 0px;
    height: 100px;
    width: 100px;
  }
  #projectEye:hover{
    background-image: url("eyeCon_close.png");
  }
  #contact{
    position: absolute;
    left: 10px;
    top: 250px;
  }
  #projectEye2{
    background-image: url("eyeCon2.png");
    position: relative;
    top: 0px;
    height: 100px;
    width: 100px;
  }
  #projectEye2:hover{
    background-image: url("eyeCon2_close.png");
    transform: rotate(180deg);
  }
  #home{
    position: absolute;
    left: 10px;
    top: 400px;
  }
  #projectEye3{
    background-image: url("eyeCon3.png");
    position: relative;
    top: 0px;
    height: 100px;
    width: 100px;
  }
  #projectEye3:hover{
    background-image: url("eyeCon3_close.png");
    transform: rotate(180deg);
  }
  #backgroundImage{
    position: relative;
    left: 50px;
    background-image: url("homeImg.png");
    background-position: bottom center no-repeat;
    opacity: .5;
    height: 650px;
    width: 900px;
  }
  #intro{
    color: white;
    font-family: 'Bubbler One', sans-serif;
    font-size: 30px;
    width: 350px;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 350px;
    z-index: 2;
  }
  #tents{
    position: absolute;
    background-image:url("tents.png");
    top: 110px;
    left: 130px;
    background-position: top left no-repeat;
    height:525px;
    width:919px;
    z-index: 3;
    transform: scale(.9);
    animation: touchy 2s steps(4) infinite;
  }
  @keyframes touchy{
    from{ background-position: 0 0;}
    to{ background-position: -3676px 0;}
  }

/*Projects*/
.projects{
  position: relative;
  top: 250px;
  left:30px;
  height: 300px;
  width: 90%;
  margin: 80px;
}
#nanny{
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  right:0px;
  border: 11px solid black;
  height: auto;
  width: 511px;
  top: 10px;
  left:-10px;
  background-size: cover;
  overflow: none;
  display: none;
}
#herokuNanny{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: -20px;
}
#githubNanny{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: 0px;
}
#nannyGif{
  position:absolute;
  top: 30px;
  cursor:pointer;
  height: auto;
  width: 511px;
}
#clickDemoNanny{
  pointer-events: none;
  top: 50px;
  position: absolute;
  color: white;
  font-size: 25px;
  text-align: center;
  z-index: 3;
  padding-top: 30px;
  height:150px;
  width: 511px;
  background-color: rgba(250,250,255, .2);
  display: none;
}
#pocketGif{
  position:absolute;
  top: -50px;
  cursor:pointer;
  height: auto;
  width: 511px;
}
#pocket{
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  right:0px;
  border: 11px solid black;
  height: auto;
  width: 100%;
  top: -60px;
  left:-10px;
  background-size: cover;
  overflow: none;
  display: none;
}
#herokuPocket{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: -100px;
}
#githubPocket{
  position: absolute;
  z-index: 3;
  text-decoration: none;
  color: white;
  top: -80px;
}
#clickDemoPocket{
  pointer-events: none;
  top: -30px;
  position: absolute;
  color: white;
  font-size: 25px;
  text-align: center;
  z-index: 3;
  padding-top: 30px;
  height:150px;
  width: 511px;
  background-color: rgba(250,250,255, .2);
  display: none;
  }
}
@media only screen
  and (min-width: 1025px)
  and (max-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1)
   {
/*
  nav{
    position: fixed;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: gray;

  }*/
}
@media only screen
  and (min-width: 1601px)
  and (max-width: 1900px)
  and (-webkit-min-device-pixel-ratio: 1)
   {
   /*@keyframes bubble {
     0% {bottom:-500px;transform:scale(1);opacity:0}
     1% {bottom:-500px;transform:scale(1);opacity:.5}
     100% {bottom:100px;transform:scale(.8);opacity:0}
   }
   .bubble {
     background:#fff;
     width:20px;
     height:20px;
     position: relative;
     margin: 200px;
     display:block;
     float: left;
     bottom:-500px;
     border-radius:100px;
     background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
     animation:bubble 4s infinite ease-in-out;
     animation-fill-mode: forwards;
   }*/
}
